<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item" th:each="contact: ${strings}">
            <p th:text="${contact}"></p>
        </li>
    </ul>
</div>

</body>
</html>